<div id="fullpage">
    <div id="header" class="section">
        <div id="particles-js"></div>
        <nav id="menu">
            <a href="#start">
                <div class="logo" data-menuanchor="start">
                    <img src="assets/images/logo.png">
                </div>
            </a>
            <a href="#about-me">
                <div class="menu-button">
                    <p data-menuanchor="about-me">
                        About Me
                    </p>
                </div>
            </a>
            <a href="#experiences">
                <div class="menu-button">
                    <p data-menuanchor="experiences">
                        Experiences
                    </p>
                </div>
            </a>
            <a href="#education">
                <div class="menu-button">
                    <p data-menuanchor="education">
                        Education
                    </p>
                </div>
            </a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <div>&#9776;</div>
            </a>
        </nav>
        <div id="header-content">
            <div id="header-text">
                <h1 class="soft-delay">Philip</h1>
                <h1 class="medium-delay">Ekblom</h1>
                <p class="hard-delay">Computer Science Engineering student at KTH</p>
            </div>
            <div id="portrait-wrapper" class="extreme-delay">
                <img src="assets/images/portrait.jpg">
            </div>
        </div>
    </div>
    <div class="section about-me">
        <div class="slide bg-box">
            <div class="container">
                <div class="border-box">
                    <h2>About Me</h2>
                    <p class="item">
                        I am currently studying at <span class="bold">KTH Kista</span> to become a <span class="bold">Computer Sience Engineer</span>.
                    </p>
                    <p class="item">
                        At my spare time I like producing music, designing/painting in photoshop, develope games and
                        work on different programming projects that interest me.
                    </p>
                    <p class="item">
                        I specifically really like web development but I am into all kind of technology. Interesting IT
                        project always gets me going.
                    </p>
                    <p class="item">
                        I have a wide knowledge in IT, including some hardware, but my passion lies in software. I like
                        testing new platforms and languages and I am always trying to keep an eye out for the newest
                        technology, especially in web development.
                    </p>
                </div>
            </div>
        </div>
        <div class="slide bg-box">
            <div class="container">
                <div class="border-box">
                    <h2>Contact Me</h2>
                    <div class="item">
                        <h3>Email</h3>
                        <p><a href="mailto:philip.ekblom@gmail.com" target="_blank">philip.ekblom@gmail.com</a></p>
                    </div>
                    <div class="item">
                        <h3>Linked In</h3>
                        <p><a href="https://www.linkedin.com/in/philip-ekblom/" target="_blank">www.linkedin.com/in/philip-ekblom/</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide bg-box">
            <div class="container">
                <div class="border-box">
                    <h2>Additional Info</h2>
                    <p>I live in <span class="bold">Kista</span> in <span class="bold">Sweden</span>.</p>
                    <p>I am <span class="bold">23 years old</span>.</p>
                    <p>I speak fluent <span class="bold">Swedish</span> and <span class="bold">English</span>.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div *ngFor="let experience of experiences" class="slide bg-box mix1">
            <div class="container">
                <div class="box">
                    <h2>Experiences</h2>
                    <h3 class="xp-category">{{experience.category}}</h3>
                    <div class="experience-wrapper" *ngFor="let item of experience.items">
                        <div class="xp-title">
                            <h4>{{item.title}}</h4>
                        </div>
                        <div class="xp-raiting" title="{{xpMsg[item.xp]}}">
                            <div *ngFor="let key of item.xp | loopNumber"></div>
                        </div>
                        <div class="xp-text">{{item.xp * 25}}%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div *ngFor="let education of educations" class="slide bg-box mix2">
            <div class="container">
                <div class="box">
                    <h2>Education</h2>
                    <div class="education-wrapper">
                        <h3 class="education-title">{{education.school}}</h3>
                        <p class="education-subtitle">{{education.area}}</p>
                        <div class="education-container">
                            <h4>Individual Courses</h4>
                            <li *ngFor="let individual of education.individual">
                                {{individual}}
                            </li>
                        </div>
                        <div *ngIf="education.extras" class="education-container">
                            <h4>Extras</h4>
                            <li *ngFor="let extra of education.extras">
                                {{extra}}
                            </li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
