<div id="fullpage">
    <div id="header" class="section">
        <div id="particles-js"></div>
        <nav id="menu">
            <a href="#start">
                <div class="logo" data-menuanchor="start">
                    <img src="assets/images/logo.png">
                </div>
            </a>
            <a href="#experiences">
                <div class="menu-button">
                    <p data-menuanchor="experiences">
                        Experiences
                    </p>
                </div>
            </a>
            <a href="#education">
                <div class="menu-button">
                    <p data-menuanchor="education">
                        Education
                    </p>
                </div>
            </a>
            <a href="#additional-skills">
                <div class="menu-button">
                    <p data-menuanchor="additional-skills">
                        Additional Skills
                    </p>
                </div>
            </a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <div>&#9776;</div>
            </a>
        </nav>
        <div id="header-content">
            <div id="header-text">
                <h1 class="soft-delay">Philip</h1> <h1 class="medium-delay">Ekblom</h1>
                <p  class="hard-delay">Computer Science Engineering student at KTH</p>
            </div>
            <div id="portrait-wrapper" class="extreme-delay">
                <img src="assets/images/portrait.jpg">
            </div>
        </div>
    </div>
    <div class="section">
        <div *ngFor="let experience of experiences" class="slide bg-box">
            <div class="container">
                <h2>Experiences</h2>
                <h3 class="xp-category">{{experience.category}}</h3>
                <div class="experience-wrapper" *ngFor="let item of experience.items">
                    <div class="xp-title">
                        <h4>{{item.title}}</h4>
                    </div>
                    <div class="xp-raiting" title="{{xpMsg[item.xp]}}">
                        <div *ngFor="let key of item.xp | loopNumber"></div>
                    </div>
                    <div class="xp-text">{{item.xp * 25}}%</div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div *ngFor="let education of educations" class="slide bg-box-rev">
            <div class="container">
                <h2>Education</h2>
                <div class="education-wrapper">
                    <h3 class="education-title">{{education.school}}</h3>
                    <p class="education-subtitle">{{education.area}}</p>
                    <div class="education-container">
                        <h4>Individual Courses</h4>
                        <li *ngFor="let individual of education.individual">
                            {{individual}}
                        </li>
                    </div>
                    <div *ngIf="education.extras" class="education-container">
                        <h4>Extras</h4>
                        <li *ngFor="let extra of education.extras">
                            {{extra}}
                        </li>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section bg-box-rev">
        <div class="container">
            <div class="additional-wrapper">
                <h2>Additional Skills</h2>
                <p *ngFor="let skill of additional">
                    {{skill}}
                </p>
            </div>
        </div>
    </div>
</div>
